

.backgroundUrl {
    background-image: url(BackgroundZavitushkiSvg.svg);
    position: absolute;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.smallscreenmargin {
    margin: 20vh auto 0 auto;
}


.smenasmobilemargin {
    width: 90vw;
}


@media all and (max-width: 1280px) {
    .backgroundUrl {
        background-image: url(BackgroundZavitushkiMobileSvg.svg);
        position: absolute;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .smallscreenmargin {
        margin: 10vh auto 0 auto;
    }

    .gigabebra {
        margin-bottom: 3vh;
    }

    .biba1 {
        position: relative;
        width: 98vw;
    }

    .biba2 {
        position: relative;
        width: 98vw;
    }

    .smenasmobilemargin {
        width: 100vw;
        
    }
}

@media all and (min-width: 1279px) {
    .biba1 {
        position: absolute;
        top: 0;
        width: 50vw;
    }

    .biba2 {
        position: absolute;
        bottom: 0;
        width: 50vw;
    }

    .gigabebra3 {
        margin-right: 3vw;
    }
}
