.backgroundUrl {
    background-image: url(BackgroundZavitushkiSvg.svg);
    position: absolute;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.smallscreenmargin {
    margin: 20vh auto 0 auto;
}

.bigscreenmargin {
    margin-bottom: -4vh;
}

.smallscreenmargin3 {
    margin-bottom: 5%;
}

@media only screen and (max-width: 480px) {
    .backgroundUrl {
        background-image: url(BackgroundZavitushkiMobileSvg.svg);
        position: absolute;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .smallscreenmargin {
        margin: 10vh auto 0 auto;
    }

    .bigscreenmargin {
        margin-bottom: 3vh;
    }

    .smallscreenmargin2 {
        margin-bottom: 2vh;
    }

    .smallscreenmargin3 {
        margin-bottom: 2vh;
    }

}

@media only screen and (min-width: 480px) {
    
}