@page "/questionnaire_part_1"
@inject NavigationManager Nigger
<PageTitle>STOлица.Лето</PageTitle>


<div class="align-content-center align-items-center justify-content-center text-center" style="background-image: url(TopMainPhoto.png); position: absolute; width: 100%; height:100%; background-position: center; background-repeat: no-repeat; background-size: cover;">


</div>



@code {

}