@page "/questionnaire_part_1"
@inject NavigationManager Nigger
@inject IDialogService Dis
<PageTitle>STOлица.Лето</PageTitle>


<div class="backgroundPhoto justify-content-center align-content-center align-items-center text-center">
    
    <div class="d-flex flex-row justify-content-center align-content-center align-items-center text-center" style="position:relative; top: 0; width:100%; padding: 2vh 2vw">
        <MudImage Src="TopMainLogo.svg" Style="min-height:35px;  height:6vh;"/>
        <MudSpacer/>
        <MudButton>
            <MudImage Src="ArrowLeft.svg" Style="min-height:25px; height:3vh;"/>
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <MudText Style="margin-left: 1vw; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: white;">Назад</MudText>
            </MudHidden>
        </MudButton>
    </div>

    <div class="BodyDiv d-flex flex-row justify-content-center align-content-center align-items-center text-center">
        
        <div class="align-self-start defaultHidden inputform" style="background-color: #701487; border-radius: 30px 30px 0 0">
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <MudText Style="margin: 2vmax 2vmax; text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (27 - 25) + 25px); line-height: 130%; color: white;">
                    Заявка на участие в<br />палаточном лагере<br />«STOлица.Лето»
                </MudText>
            </MudHidden>
            
            <div class="cornersForResize" style="position:relative; visibility:visible; padding: 1.5vw; background-color: #FCF0FF">
                
                <MudForm Style="border-radius: 30px; overflow:hidden; background-color: white;">
                    
                    <MudPaper Class="d-flex flex-row align-items-center " Style="border-radius: 30px; padding: 2vmax; background-color: #701487; position:relative; top: 0; width:100%;">
                        
                        <MudImage Src="CheckedCircle.svg" Style="min-height:35px; height:3vmax; margin-right: 2vmax"/>
                        
                        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 20) + 20px); line-height: 115%; text-align: center; color: #FFFFFF;">
                            
                            Личные данные
                            
                        </MudText>
                        
                    </MudPaper>
                    
                    <MudGrid Style="padding: 2vmax">
                        
                        <MudItem Class="d-flex flex-column" xs="12">
                            
                            <MudText Class="align-self-start" Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; text-align: center; color: #282828;">
                                Твоя фотография*
                            </MudText>
                            
                            <div class="d-flex flex-row" style="padding: 1vmax;">
                                
                                <MudFileUpload T="IReadOnlyList<IBrowserFile>" Style="height: calc( (100vw - 480px)/(1280 - 480) * (80 - 16) + 16px); width: calc( (100vw - 480px)/(1280 - 480) * (80 - 16) + 16px); min-width: 87px; min-height: 80px; background-image: url(YourPhoto.svg); background-position: center; background-repeat: no-repeat; background-size: contain;" />
                                    
                                <MudText Style="margin-left: 3vw; text-align:left; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (18 - 13) + 13px); line-height: 115%; color: #282828; opacity: 0.5;">
                                    
                                    Загрузи фото:<br />— размером не более 25Мб;<br />— белый или однотонный фон;<br />— разрешение фотографии не<br />более 300*400 пикселей;<br />— формат jpg или >png.
                                        
                                </MudText>
                            </div>
                            
                        </MudItem>
                        
                        <MudItem xs="12" lg="6">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Фамилия*
                            </MudText>

                            <MudTextField T="string" Placeholder="Иванов"></MudTextField>
                        </MudItem>
                        
                        <MudItem xs="12" lg="6" >
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Имя*
                            </MudText>
                            
                            <MudTextField T="string" Placeholder="Иван" />
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Отчество*
                            </MudText>

                            <MudTextField T="string" Placeholder="Иванович" />
                        </MudItem>

                        <MudItem xs="12" lg="6">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Дата рождения*
                            </MudText>

                            <MudDatePicker/>
                        </MudItem>

                        <MudItem xs="12" lg="6">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Пол*
                            </MudText>

                            <MudChipSet Mandatory="true">
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="М">Мужской</MudChip>
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="Ж">Женский</MudChip>
                            </MudChipSet>
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Место работы/учебы*
                            </MudText>

                            <MudTextField T="string" Placeholder="Укажите место учебы/работы" />
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Занимаемая должность
                            </MudText>

                            <MudTextField T="string" Placeholder="Укажите должность" />
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Номер телефона*
                            </MudText>

                            <MudTextField T="string" Placeholder="+7 (000) 000-00-00" />
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Ссылка на ВКонтакте
                            </MudText>

                            <MudTextField T="string" Placeholder="Добавь ссылку" HelperText="Укажи полную ссылку на аккаунт, начиная с символов https://vk.com/" />
                        </MudItem>

                        <MudItem xs="12" lg="6">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Никнейм в Telegram*
                            </MudText>

                            <MudTextField T="string" Placeholder="Добавь ссылку" HelperText=@("Укажи никнейм, начиная с символа @") />
                        </MudItem>

                        <MudItem xs="12" lg="6">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Размер одежды
                            </MudText>

                            <MudChipSet Mandatory="true">
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="XS">XS</MudChip>
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="S">S</MudChip>
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="M">M</MudChip>
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="L">L</MudChip>
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="XL">XL</MudChip>
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="2XL">2XL</MudChip>
                            </MudChipSet>
                        </MudItem>
                        
                    </MudGrid>

                </MudForm>
                
                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <MudButton @onclick="() => {Submit(true);}" Style="padding:2vmax; width:100%; margin-top: 2vh; background-color: #701487; border-radius: 30px">
                        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: #FFFFFF;">
                            Далее
                        </MudText>
                    </MudButton>
                </MudHidden>

            </div>
            
        </div>

        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <MudPaper Class="align-self-start" Style="margin-left: 1vw; background-color: #701487; border-radius: 30px">
                <MudText Style="white-space:nowrap; margin: 2.5vh 1vw; text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 30px; line-height: 130%; color: white;">
                    Заявка на участие в<br />палаточном лагере<br />«STOлица.Лето»
                </MudText>
                <MudPaper Style="background-color: white; border-radius: 30px; padding: 1vw">
                    <MudText Style="text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; color: #282828;">
                        После заполнения полей<br />переходи к следующему этапу!
                    </MudText>
                    <MudButton @onclick="() => {Submit(false);}" Style="padding:1vh; width:100%; margin-top: 2vh; background-color: #701487; border-radius: 30px">
                        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: #FFFFFF;">
                            Далее
                        </MudText>
                    </MudButton>
                </MudPaper>
            </MudPaper>
        </MudHidden>
    </div>
    
</div>



@code {
    private void OpenErrorDialog(bool ismobile)
    {
        var parameters = new DialogParameters();
        parameters.Add("DialogColor", "#701487");
        parameters.Add("ErrorSize", "25");
        parameters.Add("isSuccess", false);
        parameters.Add("isMobile", ismobile);
        Dis.Show<Dialog>("", parameters);
    }

    private async Task Submit(bool isMobile)
    {
        Nigger.NavigateTo("/questionnaire_part_2");
    }
}